body {
  line-height: 1;
  font-family: "Source Sans Pro", sans-serif;
  background-color: white;
}

header {
  background-image: url(/img/m-h-day.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-bottom-right-radius: 650px 350px;
  height: 100%;
  width: 100%;
  padding: 10px 100px;
  z-index: -2;
}

.header_heading p {
  font-weight: bold;
  font-size: 50px;
}

.header-wrap p {
  width: 50%;
}

.landing-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.landing-logo img {
  margin-right: 20px;
  -o-object-fit: contain;
     object-fit: contain;
}

.landing-logo p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: left;
  font-size: 1.5em;
  font-weight: bold;
  padding-top: 0.2em;
  font-family: "Hind", sans-serif;
  -webkit-box-align: left;
      -ms-flex-align: left;
          align-items: left;
}

.landing-logo span {
  display: block;
  font-size: 0.5em;
  text-indent: 0.4em;
}

p.header_heading {
  font-size: 3em;
  font-weight: bold;
  position: relative;
  max-width: 500px;
  z-index: 0;
}

p.header_heading::after {
  content: '';
  background-color: rgba(20, 160, 199, 0.466);
  display: block;
  height: 25px;
  width: 57%;
  z-index: -1;
  position: absolute;
  bottom: 0px;
}

p.header_text {
  font-family: "Hind", sans-serif;
  white-space: #2C2F3C;
  line-height: 1.5;
  margin-bottom: 55px;
}

.header_button {
  background-color: #699900;
  height: 48px;
  width: 145px;
  color: #fff;
  border: none;
  border-radius: 4px;
  font-size: 18px;
  font-weight: 600;
  font-family: "Source Sans Pro", sans-serif;
}

.header_button:hover {
  cursor: pointer;
}

p.section_text {
  text-align: center;
  font-weight: 600;
  font-size: 38px;
  position: relative;
  max-width: 100%;
  z-index: 1;
}

p.section_text::after {
  content: '';
  background-color: rgba(20, 160, 199, 0.466);
  display: inline-block;
  height: 25px;
  width: 50%;
  z-index: -1;
  position: absolute;
  bottom: 0px;
  right: 0px;
}

.section {
  position: relative;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.section_card {
  width: 306px;
  height: 370px;
  margin-right: 20px;
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #21232E;
  border-radius: 5px;
}

.section_card:last-child {
  margin-right: 0px;
}

.section_card_wrap {
  width: 100%;
  max-width: 1080px;
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 1080px;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 0px;
  margin-bottom: 150px;
}

.section_card_img {
  border-radius: 5px;
  min-height: 200px;
  max-height: 200px;
  color: #2C2F3C;
}
/*# sourceMappingURL=style1.css.map */