$themeClr: white;
$fontFamily: 'Source Sans Pro', sans-serif;
$logoFnt: 'Hind', sans-serif;
$underlineTextColor: rgba(20, 160, 199, 0.466);
$hdrTxtClr: #2C2F3C;
$btnClr: #699900;
$ftrClr: #21232E;

$contentBackground: white;
$cardBackground: #efefef;

$primaryColor: #1fbcd3;

$cardHeader: #1697a6;
$lineColor: #617d8a;
$postDescription: #159587;
$paragraphColor: #617d8a;

$formColor: #757575;
$hdrBgImage: url(/img/m-h-day.jpg);
// $underlineTextColor: white;
